li.page-disabled {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #404e67;
    background-color: #fff;
    border: 1px solid #ddd;
}

li.nav-item.mb-5 {
    margin-right: 10px;
}

.page-item.disabled span {
    color: #dee2e6;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #d1d5d9;
}

.form-group .help-block {
    color: red;
}

form div.required label.control-label:after {
    content: " * ";
    color: red;
}

.header-100 {
    width: 100px !important;
    min-width: 100px !important;
    max-width: 200px !important;
    overflow: auto;
}

.header-200 {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 300px !important;
    overflow: auto;
}

.header-300 {
    width: 300px !important;
    min-width: 300px !important;
    max-width: 400px !important;
    overflow: auto;
}

.header-400 {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 500px !important;
    overflow: auto;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    background-color: #f5f5f5 !important;
    border-color: #ddd !important;
    cursor: not-allowed !important;
}

.lg-backdrop {
    z-index: 1050;
}

.modal-content .refresh-container {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    width: 100%;
    display: none;
}

form label,
form .form-group {
    margin-bottom: .3rem;
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: absolute !important;
    right: 25px !important;
}

.select2-container .select2-selection--single .select2-selection__clear:hover {
    cursor: pointer !important;
}

.fs-12 {
    font-size: 12px !important;
}